.abonnement-card {
  padding: 56px 68px 59px 70px;
  background-color: #ffffff;
  width: 31.03%;
  text-align: center;
  border: 7px solid #ffffff;
  position: relative;

  &:hover {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 7px;
    border-image-source: linear-gradient(135deg, #d10a42, #00359f);
  }

  @media (max-width: $vp-1199) {
    padding: 57px 110px 80px 110px;
    width: 442px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 45px 34px 69px 34px;
  }
}

.abonnement-card__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin: 0 0 10px 0;

  @media (max-width: $vp-767) {
    font-size: 22px;
    line-height: 24px;
  }
}

.abonnement-card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 65px 0;
  color: #495a7d;

  @media (max-width: $vp-767) {
    margin: 0 0 55px 0;
  }
}

.abonnement-card__price {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: #103aae;
  margin: 0 0 30px 0;

  @media (max-width: $vp-1199) {
    margin: 0 0 30px 5px;
  }

  @media (max-width: $vp-767) {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin: 0 0 45px 7px;
  }

  &::after {
    display: block;
    color: #e8e8e8;
    position: absolute;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    opacity: 0.48;
    top: 130px;
    left: 21%;
    z-index: -1;

    @media (max-width: $vp-1199) {
      left: 26%;
      top: 135px;
    }

    @media (max-width: $vp-767) {
      font-size: 80px;
      line-height: 120px;
      left: 21%;
      top: 110px;
    }
  }
}

.abonnement-card__price--month-trainer {
  &::after {
    content: "5000";
  }
}

.abonnement-card__price--month-day {
  &::after {
    content: "1700";
  }
}

.abonnement-card__price--month-full-day {
  &::after {
    content: "2700";
  }
}

.abonnement-card__price--half-year-trainer {
  &::after {
    content: "28000";
    left: 12%;

    @media (max-width: $vp-1199) {
      left: 19%;
    }
  }
}

.abonnement-card__price--half-year-day {
  &::after {
    content: "9700";
  }
}

.abonnement-card__price--half-year-full-day {
  &::after {
    content: "15000";
    left: 12%;

    @media (max-width: $vp-1199) {
      left: 19%;
    }
  }
}

.abonnement-card__price--year-trainer {
  &::after {
    content: "50000";
    left: 12%;

    @media (max-width: $vp-1199) {
      left: 19%;
    }
  }
}

.abonnement-card__price--year-day {
  &::after {
    content: "18000";
    left: 12%;

    @media (max-width: $vp-1199) {
      left: 19%;
    }
  }
}

.abonnement-card__price--year-full-day {
  &::after {
    content: "22000";
    left: 12%;

    @media (max-width: $vp-1199) {
      left: 19%;
    }
  }
}

.abonnement-card__rouble {
  font-family: $ff-rouble;
  color: #102654;
}

.abonnement-card__link {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 24px 10px 24px 10px;
  width: 100%;
  border: 2px solid #102654;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  user-select: none;
}

.abonnement-card:hover .abonnement-card__link {
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  color: #ffffff;
  border: none;
}

.abonnement-card:hover .abonnement-card__link:hover {
  color: #cacaca;
}

.abonnement-card:hover .abonnement-card__link:active {
  color: #102654;
}
