.abonnements {
  width: 100vw;
  min-width: $vp-1200;
  background-color: #f8f9fc;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url("../img/abonnements-background.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 287px;
    height: 420px;
    position: absolute;
    top: 59.6%;
    left: calc(100vw - 287px);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/abonnements-background@2x.png");
      background-size: 287px 494px;
    }
  }

  @media (max-width: $vp-1199) {
    min-width: 768px;

    &::before {
      background-image: url("../img/tablet/abonnements-background.png");
      width: 347px;
      top: 82%;
      left: calc(100vw - 347px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/abonnements-background@2x.png");
        background-size: 347px 444px;
      }
    }
  }

  @media (max-width: $vp-767) {
    min-width: 320px;

    &::before {
      background-image: none;
    }
  }
}

.abonnements__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px 110px 103px;

  @media (max-width: $vp-1199) {
    padding: 102px 163px 90px 163px;
  }

  @media (max-width: $vp-767) {
    padding: 62px 15px 60px 15px;
  }
}

.abonnements h2 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0 0 18px 0;
  text-align: center;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 50px;
    margin: 0 11px 20px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 38px;
  }
}

.abonnements__radio-list {
  list-style-type: none;
  margin: 0 0 38px 35.25%;
  padding: 0 0 10px 0;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  width: 340px;
  display: flex;

  @media (max-width: $vp-1199) {
    margin: 0 auto 44px auto;
    padding: 0 0 10px 5px;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto 33px auto;
    padding: 0 0 13px 0;
    width: 290px;
  }
}

.abonnements__radio-list--nojs {
  display: none;
}

.abonnements__radio-item:not(:last-child) {
  margin: 0 46px 0 0;

  @media (max-width: $vp-1199) {
    margin: 0 54px 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 45px 0 0;
  }
}

.abonnements__radio-control {
  cursor: pointer;
  user-select: none;
}

.abonnements__radio-control input:focus + .abonnements__radio-text {
  outline: 2px solid #102654;
  outline-offset: 5px;
}

.abonnements__radio-control:hover .abonnements__radio-text {
  color: #102654;
}

.abonnements__radio-control:active .abonnements__radio-text {
  color: #032e8c;
}

.abonnements__radio-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);
  padding: 0 0 13px 0;

  @media (max-width: $vp-1199) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 16px 0;
  }
}

input:checked ~ .abonnements__radio-text {
  color: #102654;
  border-bottom: 2px solid #d10a42;
}

.abonnements__list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;

  @media (max-width: $vp-1199) {
    flex-direction: column;
  }
}

.abonnements__item {
  margin: 0 40px 0 0;
  z-index: 2;

  @media (max-width: $vp-1199) {
    margin: 0 auto 40px auto;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto 35px auto;
  }
}

.abonnements__item:last-child {
  margin-right: 0;

  @media (max-width: $vp-1199) {
    margin: 0 auto;
  }
}

.abonnements__list .abonnements__item:nth-child(3n) {
  @media (min-width: 1200px) {
    margin-right: 0;
  }
}
