.advantages {
  width: 100vw;
  min-width: $vp-1200;
  background-color: #f8f9fc;

  @media (max-width: $vp-1199) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.advantages div {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 146px 11.78% 83px 12.08%;

  @media (min-width: 1367px) {
    padding: 146px 161px 83px 165px;
  }

  @media (max-width: $vp-1199) {
    padding: 90px 45px 92px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 0 65px 0;
  }
}

.advantages h2 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0 0 45px 5px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 50px;
    margin: 0 21px 43px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 38px;
    margin: 0 16px 45px 0;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 0;

  @media (max-width: $vp-1199) {
    gap: 0 31px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.advantages__item {
  display: flex;
  position: relative;

  @media (max-width: $vp-767) {
    display: block;
    text-align: center;
  }
}

.advantages__item--square {
  padding: 0 10px 70px 18px;
  grid-column: 1 / 2;

  &::after {
    content: "";
    display: block;
    width: 340px;
    height: 2px;
    position: absolute;
    background-color: rgba(209, 10, 66, 0.2);
    bottom: 0;
    left: 0;

    @media (max-width: 1300px) {
      width: 300px;
    }

    @media (max-width: $vp-1199) {
      display: none;
    }
  }

  @media (max-width: $vp-1199) {
    grid-column: 1 / 2;
    padding: 0;
  }

  @media (max-width: $vp-767) {
    padding: 0 0 37px 0;
  }
}

.advantages__item--parking {
  padding: 0 10px 75px 60px;
  grid-column: 3 / 4;

  &::after {
    content: "";
    display: block;
    width: 340px;
    height: 2px;
    position: absolute;
    background-color: rgba(209, 10, 66, 0.2);
    bottom: 0;
    right: 0;

    @media (max-width: 1300px) {
      width: 300px;
    }

    @media (max-width: $vp-1199) {
      display: none;
    }
  }

  @media (max-width: $vp-1199) {
    grid-column: 2 / 3;
    padding: 0 5px 45px 0;
  }

  @media (max-width: $vp-767) {
    padding: 0 0 48px 0;
  }
}

.advantages__item--comfort {
  padding: 70px 25px 0 18px;
  grid-column: 1 / 2;

  @media (max-width: $vp-1199) {
    grid-column: 1 / 2;
    padding: 43px 15px 0 0;
  }

  @media (max-width: $vp-767) {
    padding: 43px 0 0 0;
  }
}

.advantages__item--experience {
  padding: 70px 10px 0 60px;
  grid-column: 3 / 4;

  @media (max-width: $vp-1199) {
    grid-column: 2 / 3;
    padding: 43px 10px 0 0;
  }

  @media (max-width: $vp-767) {
    padding: 37px 0 0 0;
  }
}

.advantages__item-number {
  margin: 0 30px 0 0;
  font-weight: 700;
  font-size: 71px;
  line-height: 69px;
  background-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 47.33%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $vp-1199) {
    font-weight: 700;
    font-size: 58px;
    line-height: 55px;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 4px 0;
  }
}

.advantages__item-number--square {
  background-image: linear-gradient(127.61deg, #d10a42 0%, #0041ca 35.58%);
}

.advantages__number-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;
  display: block;
  text-align: left;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantages__item-title {
  margin: 5px 0 0 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (max-width: $vp-1199) {
    margin: 0;
    font-size: 20px;
  }

  @media (max-width: $vp-767) {
    width: 71%;
    margin: 0 auto;
  }
}

.advantages__title-description {
  margin: 7px 0 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: block;

  @media (max-width: $vp-1199) {
    margin: 0;
  }
}

.advantages__extra-item {
  width: 240px;
  background-color: #1c3374;
  display: block;
  text-align: center;
  padding: 55px 34px 45px 30px;
  margin: 10px 0 8px 0;
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  @media (max-width: $vp-1199) {
    width: 442px;
    padding: 32px 45px 37px 45px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 43px 50px 45px 50px;
  }
}

.advantages__extra-number {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 74px;
  line-height: 74px;

  @media (max-width: $vp-767) {
    line-height: 64px;
  }
}

.advantages__extra-number-description {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
  margin: 0 0 34px 0;

  @media (max-width: $vp-1199) {
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 15px 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 7px 0;
  }
}

.advantages__extra-description {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $vp-1199) {
    width: 190px;
    margin: 0 auto;
  }
}
