.contacts-form {
  width: 50%;

  @media (max-width: $vp-1199) {
    width: 100%;
  }
}

.contacts-form__wrapper {
  padding: 56px 170px 70px 103px;
  background-color: #102654;

  @media (max-width: $vp-1199) {
    padding: 70px 163px 70px 133px;
  }
}

.contacts-form__wrapper h2 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  letter-spacing: 0.03em;
  margin: 0 0 25px 0;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    margin: 0 0 50px 0;
  }
}

.contacts-form__wrapper fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contacts-form__wrapper input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 190px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $vp-1199) {
    width: 100%;
  }
}

.contacts-form__wrapper input::placeholder {
  color: #dad8d8;
}

.contacts-form__wrapper button {
  grid-column: 1 / -1;
  border: 3px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 10px;
  cursor: pointer;
  text-transform: uppercase;
}
