.contacts {
  width: 50%;

  @media (max-width: $vp-1199) {
    width: 100%;
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.contacts__wrapper {
  padding: 56px 80px 63px 120px;
  border-top: 1px solid #74819c;

  @media (max-width: $vp-1199) {
    border: none;
    padding: 60px 102px 64px 132px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 15px 43px 15px;
  }
}

.contacts__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0 0 37px 0;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 34px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 38px;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 100px;
  margin: 0 0 0 5px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 88%;
    background-color: #74819c;
    position: absolute;
    left: 47.9%;
    top: 5%;

    @media (max-width: $vp-1199) {
      left: 49.9%;
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  @media (max-width: $vp-1199) {
    margin: 0;
    gap: 5px 95px;
  }

  @media (max-width: $vp-767) {
    display: block;
  }
}

.contacts__term {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $vp-1199) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 5px 0;
  }
}

.contacts__definition {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $vp-1199) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 20px 0;
  }
}

.contacts__term--address {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.contacts__definition--address {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 0 10px 0;

  @media (max-width: $vp-1199) {
    margin: 0 0 14px 0;
  }
}

.contacts__term--schedule {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.contacts__definition--schedule {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.contacts__term--phone {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.contacts__definition--phone {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.contacts__term--email {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.contacts__definition--email {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.contacts__definition--email a {
  color: #102654;

  &:hover {
    color: #395183;
  }

  &:active {
    color: #133f9e;
  }
}

.contacts__definition--phone a {
  color: #102654;

  &:hover {
    color: #395183;
  }

  &:active {
    color: #133f9e;
  }
}
