.contacts-form {
  width: 50%;
  display: inline-block;
  vertical-align: baseline;
}

.contacts-form__wrapper {
  padding: 56px 170px 70px 103px;
  background-color: #102654;
}

.contacts-form__wrapper p {
  color: #ffffff;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  letter-spacing: 0.03em;
}

