.super-games {
  width: 100vw;
  min-width: $vp-1200;

  @media (max-width: $vp-1199) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.super-games__wrapper {
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 120px 7.54% 90px 7.54%;

  @media (min-width: 1367px) {
    padding: 120px 103px 90px 103px;
  }

  @media (max-width: $vp-1199) {
    padding: 100px 45px 50px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 70px 15px 40px 15px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.super-games__offer-container {
  background-color: #ed0233;
  color: #ffffff;
  width: 100%;
  padding: 85px 737px 87px 6.55%;
  background-image: url("../img/super-games-man.jpg"), linear-gradient(to right, #ed0233 50%, #000147 50%);
  background-repeat: no-repeat;
  background-position: 100% 0, 100% 100%;
  background-size: 56.89% 100%, 100% 100%;

  @media (min-width: 768px) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/super-games-man@2x.jpg"), linear-gradient(to right, #ed0233 50%, #000147 50%);
      background-size: 56.89% 100%, 100% 100%;
    }
  }

  @media (max-width: $vp-1199) {
    padding: 51px 45px;
    background-size: 386px 100%;

    @media (min-resolution: 2dppx) {
      background-size: 386px 100%;
    }
  }

  @media (max-width: $vp-767) {
    max-width: 600px;
    margin: 0 auto;
    background-image: url("../img/mobile/super-games-man.jpg"), linear-gradient(#ed0233 50%, #000147 50%);
    background-position: 50% 100%, 100% 100%;
    background-size: 290px auto, 100% 100%;
    padding: 51px 45px 344px 45px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/super-games-man@2x.jpg"), linear-gradient(#ed0233 50%, #000147 50%);
      background-size: 290px auto, 100% 100%;
    }
  }
}

.super-games__text-container {
  width: 350px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-1199) {
    width: 202px;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto;
  }
}

.super-games__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  max-width: 201px;
  margin: 0 50px 0 0;
  text-align: center;

  @media (max-width: $vp-1199) {
    font-size: 48px;
    line-height: 46px;
    max-width: 117px;
    margin: 0 29px 0 0;
  }
}

.super-games__agenda {
  margin: 0;

  @media (max-width: $vp-1199) {
    margin: -5px 0 0 0;
  }
}

.super-games__when {
  font-size: 18px;
  line-height: 27px;
  padding: 0 0 2px 0;

  @media (max-width: $vp-1199) {
    font-size: 12px;
    line-height: 18px;
  }
}

.super-games__date {
  margin: 0 0 18px 0;
  display: inline-flex;
  align-items: start;
  border-top: 1px solid #ffffff;

  @media (max-width: $vp-1199) {
    margin: 0;
  }
}

.super-games__day {
  margin: 0 10px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 32px;
    margin: 0 3px 0 0;
  }
}

.super-games__month {
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 15px;
  }
}

.super-games__time {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 31px;
  }
}

.super-games__description {
  margin: 0 0 45px 0;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $vp-1199) {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 32px 0;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
  }
}

.super-games__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 24px 111px 25px 111px;
  border: 4px solid #ffffff;
  align-self: center;
  user-select: none;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 12px;
    padding: 12px 45px 12px 47px;
    border: 2px solid #ffffff;
    width: 100%;

    &:hover {
      border: 2px solid #a9c4ff;
      color: #a9c4ff;
    }

    &:active {
      border: 2px solid #6999ff;
      color: #6999ff;
    }
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    text-align: center;
  }

  &:hover {
    border: 4px solid #a9c4ff;
    color: #a9c4ff;
  }

  &:active {
    border: 4px solid #6999ff;
    color: #6999ff;
  }
}
