.header {
  width: 100vw;
  min-width: $vp-1200;
  position: absolute;
  z-index: 2;
  background-color: transparent;

  @media (max-width: $vp-1199) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.header > div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  padding: 30px 103px 10px 103px;
  justify-content: space-between;

  @media (max-width: $vp-1199) {
    padding: 30px 45px 25px 5.8%;
  }

  @media (max-width: $vp-767) {
    padding: 15px 15px 10px 15px;
  }
}

.header__phone-wrapper {
  max-width: 155px;

  @media (max-width: $vp-1199) {
    display: flex;
    max-width: 400px;
  }

  @media (max-width: $vp-767) {
    display: block;
    max-width: 120px;
  }
}

.header__phone-wrapper a {
  color: #ffffff;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Alumni Sans", "Arial", sans-serif;

  @media (max-width: $vp-1199) {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    display: block;
    margin-top: 5px;
  }

  @media (max-width: $vp-767) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-top: 0;
  }

  &:hover {
    color: #a9c4ff;
  }

  &:active {
    color: #6999ff;
  }
}

.header__logo-wrapper {
  margin-top: 10px;

  @media (max-width: $vp-767) {
    margin: 0;
  }
}

.header__logo {
  @media (max-width: $vp-1199) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $vp-767) {
    width: 69px;
    height: 24px;
  }
}
