.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 795px;

  @media (max-width: $vp-1199) {
    width: 530px;
  }
}

.footer-navigation__link-wrapper {
  @media (max-width: $vp-767) {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.footer-navigation__link-wrapper a {
  @media (max-width: $vp-767) {
    display: block;
    width: 100px;
  }
}

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 300px;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.footer-navigation__list--first {
  margin: 0 40px 0 auto;

  @media (max-width: $vp-1199) {
    margin: 0 30px 0 auto;
    max-width: 150px;
  }

  @media (max-width: $vp-767) {
    margin: 0 75px 0 0;
    max-width: 85px;
  }
}

.footer-navigation__list:last-child {
  @media (max-width: $vp-1199) {
    max-width: 220px;
  }

  @media (max-width: $vp-767) {
    margin-top: -42px;
    max-width: 80px;
  }
}

.footer-navigation__item a {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &:hover {
    color: #a9c4ff;
  }

  &:active {
    color: #6999ff;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer-navigation__item:not(:last-child) {
  margin-right: 40px;

  @media (max-width: $vp-1199) {
    margin-right: 30px;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 19px 0;
  }
}

.footer-navigation img {
  margin-top: 8px;

  @media (max-width: $vp-1199) {
    margin-top: 2px;
    width: 82px;
    height: 18px;
  }

  @media (max-width: $vp-767) {
    width: 68px;
    height: 15px;
  }
}
