.footer {
  width: 100vw;
  min-width: $vp-1200;
  background-color: #030a1a;
  flex-shrink: 0;

  @media (max-width: $vp-1199) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.footer > div {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 44px 104px 42px 103px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-1199) {
    padding: 45px 39px 44px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 50px 60px 50px 15px;
    max-width: 500px;
    margin: 0;
  }
}

.footer__social {
  margin-left: auto;

  @media (max-width: $vp-767) {
    margin-left: 0;
  }
}

.footer__navigation {
  @media (max-width: $vp-767) {
    margin-bottom: 32px;
  }
}
