.footer {
  width: 100vw;
  min-width: $vp-1200;
  background-color: #030a1a;
}

.footer__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 44px 104px 42px 103px;
  display: flex;
  flex-wrap: wrap;
}

.footer__social {
  margin-left: auto;
}
